@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);












#menu-6 .mbr-brand__name {
	font-size: 16px;
}
#menu-6.mbr-navbar--stuck .mbr-navbar__section {
	background: #2c2c2c;
}
#menu-6 .mbr-navbar__section {
	background: #2c2c2c;
}
#menu-6 .mbr-brand__name a {
	font-size: 11px;
	font-family: 'Montserrat', sans-serif;
}
#menu-6 .mbr-navbar__items a {
	font-family: 'Montserrat', sans-serif;
}
#content5-2 .caption h3 {
	color: #fff;
	text-align: left;
	font-size: 80px;
	font-family: 'Roboto Slab', serif;
}
#content5-2 P {
	color: #fff;
	font-family: 'Droid Serif', serif !important;
	font-size: 23px !important;
}
#content4-3 H3 {
	font-family: 'Roboto Slab', serif !important;
	text-align: left !important;
}
#content4-3 P {
	font-family: 'Roboto Slab', serif !important;
	color: #000000 !important;
}
#content4-4 H3 {
	text-align: left !important;
	font-family: 'Roboto Slab', serif !important;
	color: #efefef !important;
}
#content4-4 P {
	color: #cccccc !important;
	font-family: 'Roboto Slab', serif !important;
}
#content4-5 H3 {
	text-align: left !important;
	font-family: 'Roboto Slab', serif !important;
	color: #ffffff !important;
}
#content4-5 P {
	font-family: 'Roboto Slab', serif !important;
	color: #efefef !important;
}
#contacts1-7 P {
	color: #efefef !important;
	font-size: 10px !important;
	font-family: 'Montserrat', sans-serif !important;
}
#contacts1-7 STRONG {
	font-family: 'Montserrat', sans-serif !important;
}
